/* Selectores combinadores */

/* 
    1. Selector descendiente 
    2. Selector de hermano siguiente <+> *
    3. Selector de hermanos siguientes (AltGr + signo de multiplicacion <~>) *
    4. Selectore de hijo directo [>]
*/

/* 2. */
.hijo1 + div{
    background-color: brown;
    color: white;
}

/* 3. */
.nieto1 ~ div{
    background-color: cornflowerblue;
    color: white;
}